body {
    background-color: #f0f0f0;
    font-family: 'Arial';
    justify-content: center;
    height: 100vh;
}

#LEKBIRR {
    display: flex;
    flex-wrap: nowrap; 
    align-items: flex-start; 
}

.lekbira {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 30px; 
}

input {
    margin-bottom: 5px; 
    font-size: 20px;
    /* width: 00px; 
    height: 80px; */
}

.thenya{
    background-color: white; 
    margin-left: 25%;
    padding: 10px; 
    height: 800px;
    width: 650px;  
    flex-wrap: wrap;
}

#ll{
     margin-left: 120%;
     padding: 10px;
     font-size: 18px;
     z-index: 1;
    
}
h1{
    text-align: center;
}
#h11{
    margin-right: 80%;
    margin-bottom: 20%;
}
#h12{
    margin-right: 60%;
}
#h13{
    margin-right: 40%;
}
#h14{
    margin-right: 20%;
}
#h15{
    margin-right: 10%;
}
#h16{
    margin-right: 10%;
}
#h17{
    margin-right: 5%;
}