body {
    background-color: #f0f0f0;
    font-family: 'Arial';
    justify-content: center;
    height: 100vh;
}

#LEKBIRR {
    display: flex;
    flex-wrap: nowrap; 
    align-items: flex-start; 
}

.lekbira {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 30px; 
}

input {
    margin-bottom: 25px; 
    font-size: 20px;
    width: 300px; 
    height: 80px;
}

.thenya{
    background-color: white; 
    margin-left: 25%;
    padding: 10px; 
    height: 800px;
    width: 650px;
}
