body{
    background-color:rgb(236, 252, 250);

}
#aa{
    width: 77%;
   display: block;
   margin: auto;
}
#aaa{
    margin-left: 177px;
}
.bb{
float: right;
padding: 10px;;
}
.cc{
    width: 50%;
    height: 70%;
    background-color: rgb(251, 251, 190);
    margin: 50px;
}
.cc{
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 20px;
}
h3{
    margin-left: 90%;
}